{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        github-replete-repl/replete-shared {:git/url "https://github.com/replete-repl/replete-shared"
                                            :sha "1b5bbd1b8e314aa733cd7019d6a42cf2afd4dc98"}}}
